## Aggregating data

In [ ]:
trd = pd.read_csv('train.csv')
tsd = pd.read_csv('test.csv')
td = pd.concat([trd, tsd], ignore_index=True, sort  = False)

## Look| how much of each category there is

In [ ]:
df.value_counts()
df.value_counts().idxmax() # gives the most common value

# How many different values are there
df.nunique()

## Normalize or flatten (In case one a jason file gives multiple entries per entry)

In [ ]:
df2 = pd.json_normalize(results)

## Look for number missing of values

In [ ]:
df_train['Colum_name'].isna().sum()

## Look for missing values (visually)

In [ ]:
td.isnull().sum()

sns.heatmap(td.isnull(), cbar = False).set_title("Missing values heatmap")

## Binning

In [ ]:
td['Price_Category'] = pd.cut(td['Price'], bins=[0,7.90,14.45,31.28,120], labels=['Low','Mid','High_Mid','High'], include_lowest=True)
pyplot.bar(group_names, df["horsepower-binned"].value_counts()) # to plot

# more binning

df['years_used'] = pd.cut(df.days_used, 6, labels=['0.5', '1', '1.5', '2', '2.5', '3'])

## Filling in NaN values - filling with the Mode, fillin with a new object

In [ ]:
td.Column_name.fillna(td.Column_name.mode()[0], inplace = True)

In [ ]:
td.Column_name = td.Column_name.fillna('NA')

## Replacing "?" with NaN

In [ ]:
df.replace("?", np.nan, inplace = True)

# or eqivalently
df[i].fillna(df[i].mean(),inplace=True)

## Replacing (or encoding) some arbitrary values with a conditional statement

In [ ]:
map_set = {"apple", "banana", "cherry"} # some set - a tuple, list, etc.
df['Outcome01'] = df['Outcome'].apply(lambda x: '0' if x in map_set else '1')

## Concatonation

In [ ]:
df = pd.concat([df,df2],axis=1)

## Easy pandas encoder

In [ ]:
df_train['Gender'] = df_train['Gender'].map({'male': 0, 'female': 1}).astype(int)

## One hot encoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder

cat_encoder = OneHotEncoder()
embarked_hot_cat = cat_encoder.fit_transform(df_train[['Embarked']])
df_embarked_hot_cat = pd.DataFrame(embarked_hot_cat.toarray())

cat_encoder.categories_
df_embarked_hot_cat

## Ordinal encoder

In [ ]:
ordinal_encoder = OrdinalEncoder()
df_cabin_class_encoded = ordinal_encoder.fit_transform(df_cabin_class)
ordinal_encoder.categories_

### Dummy variables (turns pandas column having only 2 kinds of values into 0s and 1s)

In [ ]:
pandas.get_dummies(df['blabla'])

### Rename

In [ ]:
df.rename(columns={'"some_name"':'some_other_name'}, inplace=True)
# or just rename them cardinally
df_total.columns = ['year', 'total']

### Reset numbers in pandas column (after operation where some of them were imputed)

In [ ]:
data_falcon9.loc[:,'FlightNumber'] = list(range(1, data_falcon9.shape[0]+1))

# Filling in missing values in a column using SVC

In [ ]:
from sklearn.svm import SVC
# Separating the data to predict the missing ages
X_train = df_train[df_train.Age.notnull()][['Pclass','Sex','SibSp','Parch', 'Fare']]
X_test = df_train[df_train.Age.isnull()][['Pclass','Sex','SibSp','Parch', 'Fare']]
y = df_train.Age.dropna()

In [ ]:
# Predicting the missing ages
age_classifier = SVC()
age_classifier.fit(X_train, y)
prediction = age_classifier.predict(X_test)
agePrediction = pd.DataFrame(data=prediction,index=X_test.index.values,columns=['Age']) # this preserves the index values of the original array

In [ ]:
df_train = df_train.combine_first(agePrediction)

## Change a certain column to be the index column (pandas)

In [ ]:
df_can.set_index('Country', inplace=True)

# optional: to remove the name of the index
df_can.index.name = None

## Other pandas tricks

In [ ]:
# how to access the full row data (in different ways)
df_can.loc['Japan']
df_can.iloc[87]
df_can[df_can.index == 'Japan']

In [ ]:
# make the column names strings
df_can.columns = list(map(str, df_can.columns))

In [ ]:
# conditional selections
condition = df_can['Continent'] == 'Asia'
df_can[condition]

# or even pass it in the same line
f_can[(df_can['Continent']=='Asia') & (df_can['Region']=='Southern Asia')]

In [ ]:
# select some rows
years = list(map(str, range(1980, 2014)))
df_CI = df_can.loc[['China','India'], years]

In [ ]:
# in case one needs to transpose

In [ ]:
df_CI = df_CI.transpose()

### Value sorting

In [ ]:
df_can.sort_values(by='Total', ascending=True, inplace=True)

### Selecting and grouping in pandas

In [ ]:
    # create a list of all years in decades 80's, 90's, and 00's
    years_80s = list(map(str, range(1980, 1990))) 
    years_90s = list(map(str, range(1990, 2000))) 
    years_00s = list(map(str, range(2000, 2010))) 

    # slice the original dataframe df_can to create a series for each decade
    df_80s = df_top15.loc[:, years_80s].sum(axis=1) 
    df_90s = df_top15.loc[:, years_90s].sum(axis=1) 
    df_00s = df_top15.loc[:, years_00s].sum(axis=1)

    # merge the three series into a new data frame
    new_df = pd.DataFrame({'1980s': df_80s, '1990s': df_90s, '2000s':df_00s}) 

    # display dataframe
    new_df.head()

### Bining many categories into fewer categories (with loop)

In [ ]:
new_series = []
for index, row in df[['release_year']].iterrows():
    x = row[0]
    if x == 2013 or x == 2014:
        new_series.append('2013 & 2014')
    elif x == 2015 or x == 2016:
        new_series.append('2015 & 2016')
    elif x == 2017 or x == 2018:
        new_series.append('2017 & 2018')
    elif x == 2019 or x == 2020:
        new_series.append('2019 & 2020')
    else:
        new_series.append('2021 & 2022')

### To create a double plot and take out the class (a bit odd)

In [ ]:
df_used = df[['release_year','used_price']].copy()
df_used['new_or_used'] = "Used"
df_used.rename(columns={"used_price":'price'}, inplace=True)

df_new = df[['release_year','new_price']].copy()
df_new['new_or_used'] = "New"
df_new.rename(columns={"new_price":'price'}, inplace=True)

pd.concat([df_used, df_new])